{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="top" class="homeDiv">
    <div class="col-md-6 col-sm-6">
        <h5>Welcome to my page</h5>
        <h1>Siana Kong</h1>
        <h3>Computer Science Student</h3>
        <p>First sentence</p>
        <p>Second sentence</p>
        <p>Third sentence</p>
        <p>Fourth sentence</p>
        <p>Fifth sentence</p>
    </div>
</div>
<div id="middle" class="homeDiv"></div>
<div id="bottom" class="homeDiv"></div>
{% endblock content %}
